    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>데이터 기반 맛집 추천 서비스</h2>
              <br/>
                <p>저희 Team은 웹 크롤링과 오픈 API 기반,</p>
                <p>경기도 최적의 맛집 추천 서비스를 제공하고 있습니다.</p>
                <p><a href="https://oss-d85b6.web.app/">서비스 링크</a></p>
                <br/>
              </div>
        </div>
    </section>
